{% extends "network/layout.html" %}

{% block body %}
<h1>All Posts</h1>

<div id="new-post-section">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2>New Post</h2>
    <form action="/" method="post">
        {% csrf_token %}
        {{ newPostForm }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</div>

<div class="posts-section">
    {% for example in examplePosts %}
    <div class="post">
        <p><a href="{% url 'profile' example.user %}"><strong>{{ example.user }}</strong></a></p>
        <div>
            <a href="#">Edit</a>
        </div>

        {{ example.content }}

        <div class="text-muted">
            {{ example.time_posted }}
        </div>

        <div>
            ❤️ <span class="text-muted">{{ example.like_count }}</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}