{% extends "network/layout.html" %}

{% block head %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
            // Add event listeners for like buttons
            var likeButtons = document.querySelectorAll(".like-button");
            for (var i = 0; i < likeButtons.length; i++) {
                likeButtons[i].addEventListener("click", function () {
                    const csrftoken = getCookie('csrftoken');

                    // Upon submission, the following function will post to the Django backend
                    // The JS will fetch the response and update the post's like count / likes.
                    $.ajax({
                        type: "POST",
                        url: "{% url 'like' %}",
                        data: {
                            postid: this.id.split("-")[1],
                            csrfmiddlewaretoken: csrftoken,
                            action: "post"
                        },
                        success: function (json) {
                            var json = JSON.parse(json);
                            console.log("AJAX Success");
                            // Update like count (increment/decrement)
                            document.querySelector("#" + "like_count_" + json.postid).innerHTML = json.result;
                        }
                    });
                });
            }
    });

    // Obtain CSRF Token
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

    // Upon submission, the following function will post to the Django backend
    // The JS will fetch the response and update the post's contents.
    function ajaxEdit(post_id) {
        // Obtain post contents
        post_id = post_id.split("-")[1];
        newContents = document.querySelector("#" + "edit-" + post_id).value;
        contentElementID = "content-" + post_id;
        contentElement = document.querySelector("#" + contentElementID);

        const csrftoken = getCookie('csrftoken');

        // Send new contents to be updated on back-end
        $.ajax({
            type: "POST",
            url: "{% url 'editPost' %}",
            dataType: "json",
            async: true,
            data: { csrfmiddlewaretoken: csrftoken, postID: post_id, content: newContents },
            success: function (json) {
                // Update post contents w/ updated contents (don't have to deal w/ backend)
                contentElement.innerHTML = newContents;
                console.log("Success");
            }
        });
    };

    // Obtain post's ID, and display a text area pre-populated with contents to edit
    function editPost(clicked_id) {
        contentElementID = "content-" + clicked_id;
        contentElement = document.querySelector("#" + contentElementID);
        content = contentElement.innerHTML;

        
        // Check if textarea already exists in element, don't create another one
        contentChildList = contentElement.children;
        for (let item of contentChildList) {
            console.log(item.tagName);
            if (item.tagName === "TEXTAREA") {
                return;
            }
        }
        
        // Create text are element and set button click to AJAX function
        contentElement.innerHTML = "";
        
        // Create text area and populate contents
        var textArea = document.createElement("textarea");
        
        textArea.id = "edit-" + clicked_id;
        textArea.value = content;

        // Create button and apply onclick to AJAX function 
        buttonDiv = document.createElement("div");
        button = document.createElement("button");
        button.className = "btn btn-secondary";
        button.type ="submit";
        button.innerHTML = "Save";
        button.id = "button-" + clicked_id;
        button.onclick = function clicked() {
            ajaxEdit(this.id);
            };
        buttonDiv.appendChild(button);

        // Append text area and button to post
        contentElement.appendChild(textArea);
        contentElement.appendChild(buttonDiv);
    };
    
</script>
{% endblock %}


{% block body %}
<h1>All Posts</h1>

<div id="new-post-section">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2>New Post</h2>
    <form action="/" method="post">
        {% csrf_token %}
        {{ newPostForm }}
        <input class="btn btn-secondary" type="submit" value="Submit">
    </form>
    
</div>

<div class="posts-section">
    {% for post in page_obj %}
    <div id="post-{{ post.id }}" class="post">
        <p><a href="{% url 'profile' post.user %}" data-url="{% url 'editPost' %}"><strong>{{ post.user }}</strong></a></p>
        {% if currentUserID == post.user_id %}
        <div>
            <a id="{{ post.id }}" class="my-link" onClick="javascript:editPost(this.id)">Edit</a>
        </div>
        {% endif %}

        <div id="content-{{ post.id }}" class="post-content">
            {{ post.content }}
        </div>

        <div class="text-muted">
            {{ post.time_posted }}
        </div>

        <div>
            <button id="like-{{ post.id }}" class="like-button" value="{{ post.id }}" type="button">
                ❤️
            </button>
            
            <span id="like_count_{{post.id}}" class="text-muted">{{ post.like_count }}</span>
        </div>
    </div>
    {% endfor %}
</div>

<nav class="my-pagenav" aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{page_obj.previous_page_number}}">Previous</a></li>
        {% endif %}
        
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{page_obj.next_page_number}}">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}