{% extends "network/layout.html" %}

{% block head %}
<script src="/static/network/index.js"></script>
{% endblock %}

{% block body %}
<h1>All Posts</h1>

<div id="new-post-section">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2>New Post</h2>
    <form action="/" method="post">
        {% csrf_token %}
        {{ newPostForm }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</div>

<div class="posts-section">
    {% for post in allPosts %}
    <div class="post">
        <p><a href="{% url 'profile' post.user %}"><strong>{{ post.user }}</strong></a></p>
        {% if currentUserID == post.user_id %}
        <div>
            <a href="javascript:editPost()">Edit</a>
        </div>
        {% endif %}

        <div id="post-content">
            {{ post.content }}
        </div>

        <div class="text-muted">
            {{ post.time_posted }}
        </div>

        <div>
            ❤️ <span class="text-muted">{{ post.like_count }}</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}