/* Overaching styles */
/* Color palette: based on Django */
.body {
    padding: 10px;
    color: #0c3c26;
}

footer {
    margin-top: auto;
    background-color: #44b78b;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar-custom {
    background-color: #578b77;
}

nav a {
    color: white;
}

nav a:hover {
    color: #c9f0dd;
}

a {
    color: #20aa76;
}

a:hover {
    color: #25c488;
}

.my-link {
    color: #20aa76 !important;
}

.my-link:hover {
    color: #25c488 !important;
}

/* Posts */
.post {
    margin-top: 10px;
}

.post:hover {
    background-color: #f1fbf6;
}

#new-post-section {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

.posts-section .post {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 20px;
}

.poster-name {
    font-size: 1.5rem;
}

.my-pagenav {
    margin-top: 10px;
}

.my-pagenav li a {
    background-color: white;
    color: #0c3c26;
}

.my-pagenav li a:hover {
    background-color:#0c3c26;
    color: white;
}

.like-button {
    border-radius: 5px;
}